/* Estilo geral */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #d83fa5, #2a5298);
    color: #f4f4f4;
    height: 100%;
}

/* Cabeçalho */
header {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

 /*Menu de navegação*/ 
nav {
    margin-top: 10px;
}

nav a {
    display: inline-block;
    margin: 0 12px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    background: #532667;
    border-radius: 25px;
    transition: all 0.5s ease;
}

nav a:hover {
    background: #c9046d;
    transform: scale(1.1);
}

/* Conteúdo principal */
main {
    text-align: center;
    padding: 40px 20px;
}

main h2 {
    color: #ffdd57;
    font-size: 24px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid #ffffff;
    padding: 10px;
}

th {
    background: #ef030345;
    color: rgb(255, 255, 255);
}

.imagem img {
    max-width: 70%;   /* Reduz a largura para no máximo 70% da tela */
    height: auto;     /* Mantém a proporção */
    border: 4px solid #fff;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.imagem img:hover {
    transform: scale(1.05); /* Pequeno zoom ao passar o mouse */
}

/* Rodapé */
footer {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 40px;
    position: relative;
    bottom: 0 !important;

}
